{{> header }}
    
    {{> navbar }}

    <div class="jumbotron">
        <h2 class="display-4">Componentes utilizados</h2>
        <p class="lead">Para crear esta aplicacion de consulta del clima se usaron los siguientes componentes: </p>
        <br>       

        <ul class="list-group list-group-flush">
            <li class="list-group-item"><b>body-parser</b>: <a href="https://www.npmjs.com/package/body-parser"> https://www.npmjs.com/package/body-parser</a> [parse incoming request bodies in a middleware before your handlers]</li>
            <li class="list-group-item"><b>hbs</b>: <a href="https://www.npmjs.com/package/hbs"> https://www.npmjs.com/package/hbs</a> [motor de plantillas JavaScript basado en mustache]</li>
            <li class="list-group-item"><b>express</b>: <a href="https://www.npmjs.com/package/express"> https://www.npmjs.com/package/express</a> [framework web de direccionamiento y middleware]</li>
            <li class="list-group-item"><b>axios</b>: <a href="https://www.npmjs.com/package/axios"> https://www.npmjs.com/package/axios</a> [cliente HTTP basado en promesas] </li>            
            <li class="list-group-item"><b>bootstrap</b>: <a href="https://www.npmjs.com/package/bootstrap"> https://www.npmjs.com/package/bootstrap</a> [framework CSS y Javascript diseñado para la creación de interfaces limpias] </li>            
            
        </ul>
        <br>
        <p>Uso del api <a href="https://api.openweathermap.org">https://api.openweathermap.org</a> para consultar la ciudad y el clima.</p>
    </div>

{{>footer}}
